<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="/files/style.css">
	<link rel="stylesheet" type="text/css" href="/files/normalize.min.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">

<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
 <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>

<body class="crm_body_bg">


 


<nav class="sidebar">
<div class="logo d-flex justify-content-between">
<div class="sidebar_close_icon d-lg-none">
<i class="ti-close"></i>
</div>
</div>
<ul id="sidebar_menu" class="metismenu">
<li class="">
<a class="has-arrow" href="/logs" aria-expanded="false">
<div class="nav_icon_small">
<img src="/files/img/6.svg" alt="">
</div>
<div class="nav_title">
<span>Logs</span>
</div>
</a>
<ul class="mm-collapse mm-show" style="">
<li><a href="/new-logs" style=" grid-gap: 0px; color: #3eaeec;
"><i class="fa fa-reply-all" aria-hidden="true"></i>New logs</a></li>
</ul>
</li><li class="">
<a class="has-arrow" href="/links" aria-expanded="false">
<div class="nav_icon_small">
<img src="/files/img/2.svg" alt="">
</div>
<div class="nav_title">
<span>links</span>
</div>
</a>
<ul class="mm-collapse mm-show" style="">
<li><a style=" grid-gap: 0px; ;
" href="/create-link"><i class="fa fa-plus-square" aria-hidden="true"></i>Create link</a></li>
</ul>
</li><li class="">
<a class="has-arrow" href="/domains" aria-expanded="false">
<div class="nav_icon_small">
<img src="/files/img/3.svg" alt="">
</div>
<div class="nav_title">
<span>Domains</span>
</div>
</a>
<ul class="mm-collapse mm-show" style="">
<li><a style="grid-gap: 0px; ;
" href="/create-domain"><i class="fa fa-plus-square" aria-hidden="true"></i>Add Domain</a></li>
</ul>
</li><li class="">
<a class="has-arrow" href="#" aria-expanded="false">
<div class="nav_icon_small">
<i class="fa fa-key" aria-hidden="true"></i>
</div>
<div class="nav_title">
<span>Change password</span>
</div>
</a>
</li>

</ul>


</nav>


<section class="main_content dashboard_part large_header_bg">



<div class="main_content_iner overly_inner ">
<div class="container-fluid p-0 ">

<div class="row">
<div class="col-12">
<div class="page_title_box d-flex flex-wrap align-items-center justify-content-between">
<div class="page_title_left d-flex align-items-center">
<h3 class="f_s_25 f_w_700 dark_text mr_30">Change password</h3>

</div>
<div class="page_title_right">
 
</div>
</div>
</div>
</div>
<div class="row">
<div class="col-lg-12">
<div class="white_card card_height_100 mb_30 pt-4">
<div class="white_card_body">
<div class="QA_section">
<div class="white_box_tittle list_header">
<h4>Password changes </h4>
<div class="box_right d-flex lms_block">
 

</div>
</div>


<div class="QA_table mb_30">

<div id="DataTables_Table_0_wrapper" class="dataTables_wrapper no-footer"><table class="table lms_table_active dataTable no-footer dtr-inline" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 1046px;">
 
<tbody>






 
 

 
 
 
 </tbody>
</table>  



<div class="box_right d-flex lms_block">
<div style="
    width: 247px;
" class="serach_field_2">
<div class="search_inner">
<form active="#" onsubmit="return false;">
<div class="search_field">
<input  style="
    width: 236px;
" type="text" placeholder="Old password" id="old_pwd">
</div>
 
</form>
</div>
</div>

 
<div style="
    width: 247px;
"  class="serach_field_2">
<div style="
 
" class="search_inner">
<form active="#">
<div class="search_field">
<input style="
    width: 236px;
" type="text" placeholder="New password" id="new_pwd">
</div>
 
</form>
</div>
</div>


<div class="add_button ms-2 ">
<a id="change-pwd" href="#" data-toggle="modal" style="
    margin-left: 2px;
" data-target="#addcategory" class="btn_1">Change</a>
</div>
</div>






</div>
</div>





</div>
</div>
</div>
</div>
</div>
</div>
</div>

<div class="footer_part">
<div class="container-fluid">
<div class="row">
<div class="col-lg-12">
<div class="footer_iner text-center">
<p>2023 © Admin panel -   by <a href="#"> <i class="ti-heart"></i> </a><a href="#">  JE Develops</a></p>
</div>
</div>
</div>
</div>
</div>
</section>





<style type="text/css">
	
	.main_content {
    background-color: #131520;
}

</style>

<script type="text/javascript">
	
	document.getElementById('change-pwd').onclick = function(){
		$.ajax({
			
			url: '/change-password',
			type: 'post',
			dataType: 'html',
			data: {
				old_pwd: document.getElementById('old_pwd').value,
				new_pwd: document.getElementById('new_pwd').value
			},
			success: function(data){
				data = JSON.parse(data)

				if (data.type === 'OK'){
					window.location.href = '/new-logs'
				}
				else if(data.type === 'INVALID_OLD_PWD'){
					alert('Неверно введен старый пароль')
				}
		}
		})

	}

</script>

</body>
</html>