<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="/files/style.css">
	<link rel="stylesheet" type="text/css" href="/files/normalize.min.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
 <script src="https://code.jquery.com/jquery-3.4.1.js"></script>

</head>
 
<body class="crm_body_bg">


 


<nav class="sidebar">
<div class="logo d-flex justify-content-between">
<div class="sidebar_close_icon d-lg-none">
<i class="ti-close"></i>
</div>
</div>
<ul id="sidebar_menu" class="metismenu">
<li class="">
<a class="has-arrow" href="/logs" aria-expanded="false">
<div class="nav_icon_small">
<img src="/files/img/6.svg" alt="">
</div> 
<div class="nav_title">
<span>Logs</span>

</div>

</a>
<ul class="mm-collapse mm-show" style="">
 
<li><a href="/new-logs" style="  grid-gap: 0px;  color: #3eaeec;
"><i class="fa fa-reply-all" aria-hidden="true"></i>New logs</a></li>
 
</ul>
<li class="">
<a class="has-arrow" href="#" aria-expanded="false">
<div class="nav_icon_small">
<img src="/files/img/2.svg" alt="">
</div>
<div class="nav_title">
<span>links</span>
</div>
</a>
<ul class="mm-collapse mm-show" style="">
<li><a style="  grid-gap: 0px;   ;
" href="/create-link"><i  class="fa fa-plus-square" aria-hidden="true"></i>Create link</a></li>

</ul>
<li class="">
<a class="has-arrow" href="/domains" aria-expanded="false">
<div class="nav_icon_small">
<img src="/files/img/3.svg" alt="">
</div>
<div class="nav_title">
<span>Domains</span>
</div>
</a>
 <ul class="mm-collapse mm-show" style="">
<li><a style="grid-gap: 0px;   ;
" href="/create-domain"><i  class="fa fa-plus-square" aria-hidden="true"></i>Add Domain</a></li>
</ul>

<li class="">
<a class="has-arrow" href="/change-password" aria-expanded="false">
<div class="nav_icon_small">
<i class="fa fa-key" aria-hidden="true"></i>
</div>
<div class="nav_title">
<span>Change password</span>
</div>
</a>
 


</li>



</li>


</nav>


<section class="main_content dashboard_part large_header_bg">



<div class="main_content_iner overly_inner ">
<div class="container-fluid p-0 ">

<div class="row">
<div class="col-12">
<div class="page_title_box d-flex flex-wrap align-items-center justify-content-between">
<div class="page_title_left d-flex align-items-center">
<h3 class="f_s_25 f_w_700 dark_text mr_30">Links</h3>

</div>
<div class="page_title_right">
 
</div>
</div>
</div>
</div>
<div class="row">
<div class="col-lg-12">
<div class="white_card card_height_100 mb_30 pt-4">
<div class="white_card_body">
<div class="QA_section">
<div class="white_box_tittle list_header">
<h4>All Links </h4> 
<div class="box_right d-flex lms_block">
 

</div>
</div>


<div class="QA_table mb_30">

<div id="DataTables_Table_0_wrapper" class="dataTables_wrapper no-footer"><table class="table lms_table_active dataTable no-footer dtr-inline" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 1046px;">
<thead>
<tr role="row"><th scope="col" class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 39px;" aria-sort="ascending" aria-label="id: activate to sort column descending">id</th> <th scope="col" class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 180px;" aria-label="Username: activate to sort column ascending">Links</th><th scope="col" class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 140px;" aria-label="Email Address: activate to sort column ascending">Status</th><th scope="col" class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 140px;" aria-label="Status: activate to sort column ascending">Action</th></tr>
</thead>
<tbody id="table">

{% for link in links %}

<tr role="row" class="odd" id="{{link['id']}}-row">
<th scope="row" tabindex="0" class="sorting_1"> <a href="#" class="question_content">{{link['id']}}</a></th>
<td><!-- САМА ССЫЛКА-->{{link['name']}}</td>
<td style=""><a href="#" class="status_btn">Active</a>

<a href="#" class="status_btn">{{link['for_theme']}}</a>

</td>
<td>
<div class="action_btns d-flex">
	<!-- ПЕРЕХОДЫ ПО ССЫЛКЕ-->
<a href="#" class="action_btn mr_10"> <i class="fa fa-link" aria-hidden="true"></i><span>{{link['transitions']}}</span>  </a>
<!-- НАЖАТИЯ ПО ССЫЛКЕ-->
<a href="#" class="action_btn mr_10"> <i class="fa fa-mouse-pointer" aria-hidden="true"></i> <span>{{link['participation']}}</span> </a>
<!-- ВХОДЫ ПО ССЫЛКЕ-->
<a href="#" class="action_btn"><i class="fa fa-users" aria-hidden="true"></i><span>{{link['logins']}}</span> </a>
<a href="#" class="btntr" onclick="delete_link({{link['id']}})"><i class="fa fa-trash" aria-hidden="true"></i></a>
</div>
</td>
</tr>

{% end %}

 </tbody>
</table><div class="dataTables_info" id="DataTables_Table_0_info" role="status" aria-live="polite">Showing 1 to 7 of 7 entries</div><div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate"><a onclick="paginate(this.id)" class="paginate_button previous disabled" aria-controls="DataTables_Table_0" data-dt-idx="0" tabindex="0" id="DataTables_Table_0_previous"><i class="fa fa-chevron-left" aria-hidden="true"></i></a><span><a class="paginate_button current" aria-controls="DataTables_Table_0" data-dt-idx="1" tabindex="0" id="curr_page">1</a></span><a class="paginate_button next disabled" aria-controls="DataTables_Table_0" data-dt-idx="2" tabindex="0" id="DataTables_Table_0_next" onclick="paginate(this.id)"><i class="fa fa-chevron-right" aria-hidden="true"></i></a></div></div>
</div>

<style type="text/css">
   .btntr{
    width: 32px;
    height: 32px;
    border-radius: 6px;
    background: 0 0;
    line-height: 30px;
    text-align: center;
    color: #e3e3e3;
    font-size: 14px;
    transition: .3s;
    display: inline-block;
    flex: 32px 0 0;
    margin-left: 9px;
   }
   .btntr:hover{
    background:#d33e3e;
    color:#fff;
   box-shadow:0 5px 10px rgb(251 79 79 / 26%)
}
 </style>

<style type="text/css">
	
	.main_content {
    background-color: #131520;
}

</style>


</div>
</div>
</div>
</div>
</div>
</div>
</div>

<div class="footer_part">
<div class="container-fluid">
<div class="row">
<div class="col-lg-12">
<div class="footer_iner text-center">
<p>2023 © Admin panel -   by <a href="#"> <i class="ti-heart"></i> </a><a href="#">  JE Develops</a></p>
</div>
</div>
</div>
</div>
</div>
</section>



<script type="text/javascript">
	
	function delete_link(id) {
		console.log
		let el = document.getElementById(id + '-row')
		el.parentNode.removeChild(el)

		$.ajax({
			type: 'get',
			url: '/link-handler',
			dataType: 'html',
			data: {type: 'delete_link', id: id}
		})
	}

</script>


<script type="text/javascript">
	var is_over = false;
	
	function paginate(type){
		var curr_page = document.getElementById('curr_page');

		if (curr_page.innerHTML === '1' && type === 'DataTables_Table_0_previous'){
			return;
		}

		if (is_over && type === 'DataTables_Table_0_next'){
			return
		}		

		is_over = false;

		$.ajax({
			type: 'get',
			url: '/link-handler',
			dataType: 'html',
			data: {type: 'paginate', prev_page_num: curr_page.innerHTML, pagination_type: type},
			success: function(data){
				var data = JSON.parse(data);
				console.log(data)
				var table = document.getElementById('table');
				table.innerHTML = '';
				data.forEach((item, index, arr) => {
					table.innerHTML += `<tr role="row" class="odd">
										<th scope="row" tabindex="0" class="sorting_1"> <a href="#" class="question_content">${item.id}</a></th>
										<td><!-- САМА ССЫЛКА-->${item.name}</td>
										<td style=""><a href="#" class="status_btn">Active</a>
										<a href="#" class="status_btn">${item.for_theme}</a>
										</td>
										<td>
										<div class="action_btns d-flex">
											<!-- ПЕРЕХОДЫ ПО ССЫЛКЕ-->
										<a href="#" class="action_btn mr_10"> <i class="fa fa-link" aria-hidden="true"></i><span>${item.transitions}</span>  </a>
										<!-- НАЖАТИЯ ПО ССЫЛКЕ-->
										<a href="#" class="action_btn mr_10"> <i class="fa fa-mouse-pointer" aria-hidden="true"></i> <span>${item.participation}</span> </a>
										<!-- ВХОДЫ ПО ССЫЛКЕ-->
										<a href="#" class="action_btn"><i class="fa fa-users" aria-hidden="true"></i><span>${item.logins}</span> </a>
										</div>
										</td>
										</tr>`
					})

				if (data.length != 7){
					is_over = true;
				}

				if (type === 'DataTables_Table_0_next'){
					curr_page.innerHTML = Number(curr_page.innerHTML) + 1;
				}
				else {
					curr_page.innerHTML = Number(curr_page.innerHTML) - 1;
			}
		}})
	}



</script>



</body>
</html>